# tuple

In [8]:
E1 = (1,56,58,56,5,4,58,4741,6,)

In [10]:
type(E1)

tuple

In [13]:
E1[2]

58

In [17]:
E1[8]

6

In [23]:
E1[0:5]

(1, 56, 58, 56, 5)

# count

Return the number of times the value 5 appears in the tuple
# Definition and Usage
The count() method returns the number of times a specified value appears in the tuple.
###
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

In [49]:
E2 = (1.25,1.0256,58,56,5,4,58,4.741,6,)

In [63]:
T = E2.count(1.0256)

In [65]:
T

1

# index
* https://www.w3schools.com/python/ref_tuple_index.asp
* Search for the first occurrence of the value 8, and return its position

Definition and Usage
The index() method finds the first occurrence of the specified value.
The index() method raises an exception if the value is not found.

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

In [67]:
E3 = ("car","meter","driver","bike","gadhi")

In [85]:
E3.index("car")

0

# mix

In [110]:
mix =(1,51,24,1451,451,51,'c', 'c++', 'python', 'html', 'javascript')

In [112]:
mix

(1, 51, 24, 1451, 451, 51, 'c', 'c++', 'python', 'html', 'javascript')

In [114]:
mix.count(51)

2

In [118]:
mix.count('html')

1

In [122]:
mix.index('c')

6

In [124]:
mix.index(451)

4

In [127]:
mixed =(1,1.25,2.5,51,24,1451,451,51)

In [129]:
mixed

(1, 1.25, 2.5, 51, 24, 1451, 451, 51)

* https://www.britannica.com/topic/list-of-countries-1993160
* https://www.nationsonline.org/oneworld/countries_of_the_world.htm#google_vignette

In [157]:
country =('IND', 'Afghanistan','Italy','Angola','Austria','Dominica','Finland','Dominica')

In [159]:
country

('IND',
 'Afghanistan',
 'Italy',
 'Angola',
 'Austria',
 'Dominica',
 'Finland',
 'Dominica')

In [161]:
country.index('Afghanistan')

1

In [163]:
country.count('Dominica')

2

* https://affairshub.in/newly-appointed-presidents-and-prime-ministers/
* Newly Appointed Presidents and Prime Ministers in the World 2024

In [165]:
pm =( 'Narendra Modi','Manmohan Singh','Indira Gandhi','Vladimir Putin','Shehbaz Sharif')

In [167]:
pm

('Narendra Modi',
 'Manmohan Singh',
 'Indira Gandhi',
 'Vladimir Putin',
 'Shehbaz Sharif')

* https://www.nobroker.in/blog/richest-cities-in-india/
* Are you curious about which cities in India boast unparalleled wealth and prosperity? Ever wondered what makes these urban gems stand out in the vast sea of Indian metropolises? Let's embark on an exciting expedition through India's top 5 richest cities in India and unravel the secrets behind their remarkable growth stories.

In [173]:
gdp = ( '1. Mumbai','2. Delhi','3. Bangalore','4. Hyderabad','5. Chennai')

In [175]:
gdp

('1. Mumbai', '2. Delhi', '3. Bangalore', '4. Hyderabad', '5. Chennai')